//input
.input-text(@bgcolor;@width:100%;@height;@borcolor;@padding ){
	background-color:@bgcolor;
	width:@width;
	height:@height;
	line-height: @height;
	border:1px solid @borcolor;
	padding:@padding;
}
.input-square(@bgcolor;@width:100%;@height;@borcolor;@padding ){
	background-color:@bgcolor;
	width:@width;
	height:@height;
	border:1px solid @borcolor;
	padding:@padding;
	box-sizing: border-box;
}