.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-blue {
  color: #60a0f2;
}
.c-chartred {
  color: #ff5a36;
}
.c-chartblue {
  color: #4e5e73;
}
.c-90 {
  color: #909090;
}
.c-92 {
  color: #929292;
}
.c-70 {
  color: #707070;
}
.c-ed {
  color: #ededed;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}
.dialogbg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.inline-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
.show,
.block {
  display: block;
}
.hide,
.none {
  display: none;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.normal {
  font-style: none;
  font-weight: normal;
}
.allfile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;
  border: 0;
}
.p_r {
  position: relative;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
.word-wrap {
  hyphens: auto;
  word-wrap: break-word;
}
.fix {
  display: block;
  zoom: 1;
}
.fix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.layout,
.layout_v,
.layout_v_c,
.layout_h_c,
.layout_vh_c {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.layout .td,
.layout_v .td,
.layout_v_c .td,
.layout_h_c .td,
.layout_vh_c .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.layout_v {
  box-orient: vertical;
}
.layout_v_c {
  box-align: center;
}
.layout_h_c {
  box-pack: center;
}
.layout_vh_c {
  box-align: center;
  box-pack: center;
}
.grid {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.grid .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.grid .td + .td {
  width: 100%;
  *width: auto;
}
/*******适配******/
@media (max-width: 768px) {
  .icon {
    background-size: contain;
  }
}
.featuremod {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.featuremod > div {
  background: no-repeat center 0;
  background-size: auto 1334px;
  height: 1334px;
  max-width: 750px;
  margin: 0 auto;
}
.colormod {
  padding: 985px 30px 0;
  position: relative;
  height: 349px;
  z-index: 2;
}
.colormod .colorlist {
  background: rgba(0, 0, 0, 0.75);
  padding: 10px 0 10px 10px;
}
.colormod .colorlist dd {
  padding-right: 10px;
  color: #fff;
}
.colormod .colorlist dd i {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  top: -2px;
}
.colormod .colorlist dd p {
  padding-top: 10px;
}
.colormod .btnbox {
  text-align: right;
  padding-top: 55px;
}
.colormod .btnbox button {
  width: 210px;
}
.imgmod {
  position: relative;
  z-index: 3;
}
.imgmod h4 {
  padding-top: 58px;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}
.imgmod .imgslider {
  margin: 30px;
}
.imgmod .imgdot {
  padding-top: 25px;
  text-align: center;
}
.imgmod .imgdot i {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  background-color: #1e2a30;
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 50% 50%;
  margin: 0 10px;
  border: 1px solid #b0b9be;
}
.imgmod .imgdot i.on {
  background-color: #cb305e;
}
.imgmod .imglist {
  background-color: #5d1616;
  margin: 30px 79px;
  padding: 20px 0 20px 20px;
}
.imgmod .imglist img {
  display: block;
  width: 100%;
}
.imgmod .imglist dt {
  padding-right: 20px;
  padding-bottom: 4px;
}
.imgmod .imglist dd {
  padding-right: 16px;
  padding-bottom: 4px;
  display: block;
  zoom: 1;
}
.imgmod .imglist dd:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.imgmod .imglist dd span {
  float: left;
  width: 50%;
  padding-right: 4px;
  box-sizing: border-box;
}
.linkmod {
  position: relative;
  z-index: 4;
}
.linkmod h4 {
  padding-top: 58px;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}
.linkmod .linkbox {
  padding-top: 30px;
}
.linkmod p {
  padding-bottom: 4px;
}
.linkmod p img {
  display: block;
  max-width: 100%;
}
