.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-blue {
  color: #60a0f2;
}
.c-chartred {
  color: #ff5a36;
}
.c-chartblue {
  color: #4e5e73;
}
.c-90 {
  color: #909090;
}
.c-92 {
  color: #929292;
}
.c-70 {
  color: #707070;
}
.c-ed {
  color: #ededed;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}
.dialogbg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.inline-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
.show,
.block {
  display: block;
}
.hide,
.none {
  display: none;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.normal {
  font-style: none;
  font-weight: normal;
}
.allfile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;
  border: 0;
}
.p_r {
  position: relative;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
.word-wrap {
  hyphens: auto;
  word-wrap: break-word;
}
.fix {
  display: block;
  zoom: 1;
}
.fix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.layout,
.layout_v,
.layout_v_c,
.layout_h_c,
.layout_vh_c {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.layout .td,
.layout_v .td,
.layout_v_c .td,
.layout_h_c .td,
.layout_vh_c .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.layout_v {
  box-orient: vertical;
}
.layout_v_c {
  box-align: center;
}
.layout_h_c {
  box-pack: center;
}
.layout_vh_c {
  box-align: center;
  box-pack: center;
}
.grid {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.grid .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.grid .td + .td {
  width: 100%;
  *width: auto;
}
/*******适配******/
@media (max-width: 768px) {
  .icon {
    background-size: contain;
  }
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}
.registerbox {
  padding: 40px 30px 0;
}
.registerbox dd {
  position: relative;
  margin-top: 80px;
  height: 75px;
  border-bottom: 1px solid #ededed;
}
.registerbox dd label {
  position: absolute;
  left: 0;
  top: -34px;
  font-size: 28px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #cbcbcb;
}
.registerbox dd .inputxt {
  background-color: transparent;
  width: 100%;
  height: 30px;
  border: 1px solid 0;
  padding: 22.5px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  border: none;
}
.registerbox dd .inputxt::-webkit-input-placeholder {
  color: #333;
}
.registerbox dd .btnpure {
  position: absolute;
  top: 0;
  right: 0;
}
.registerbox dd .focus {
  color: #c8284b;
}
.registerbox dt {
  text-align: center;
  padding-top: 50px;
}
.registerbox dt button {
  width: 490px;
}
.registerbox .note {
  padding-top: 140px;
  text-align: center;
}
.registerbox .note a {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #666;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  padding-bottom: 3px;
  border-bottom: 2px solid #666;
}
.regsucbox {
  text-align: center;
}
.regsucbox .regsuc {
  padding: 100px 0;
  border-bottom: 1px solid #ebebeb;
}
.regsucbox .regsuc h4 {
  padding-top: 30px;
  font-size: 34px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
}
.regsucbox .note {
  font-size: 26px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  padding: 60px 0;
  color: #969696;
}
.regsucbox .btnbox button {
  font-size: 28px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  margin: 0 15px;
  width: 300px;
}
.loginbox {
  padding: 50px 30px 0;
}
.loginbox dd {
  position: relative;
  margin-top: 80px;
  height: 75px;
  border-bottom: 1px solid #ededed;
}
.loginbox dd label {
  position: absolute;
  left: 0;
  top: -34px;
  font-size: 28px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
}
.loginbox dd .inputxt {
  background-color: none;
  width: 100%;
  height: 30px;
  border: 1px solid none;
  padding: 22.5px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}
.loginbox dd .inputxt::-webkit-input-placeholder {
  color: #cbcbcb;
}
.loginbox dt {
  text-align: center;
  padding-top: 50px;
}
.loginbox dt button {
  width: 490px;
}
.loginbox .note {
  padding-top: 140px;
  text-align: center;
}
.loginbox .note a {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #666;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  padding-bottom: 3px;
  border-bottom: 2px solid #666;
}
