.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-blue {
  color: #60a0f2;
}
.c-chartred {
  color: #ff5a36;
}
.c-chartblue {
  color: #4e5e73;
}
.c-90 {
  color: #909090;
}
.c-92 {
  color: #929292;
}
.c-70 {
  color: #707070;
}
.dialogbg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.inline-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
.show,
.block {
  display: block;
}
.hide,
.none {
  display: none;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.normal {
  font-style: none;
  font-weight: normal;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
.word-wrap {
  hyphens: auto;
  word-wrap: break-word;
}
.fix {
  display: block;
  zoom: 1;
}
.fix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.layout,
.layout_v,
.layout_v_c,
.layout_h_c,
.layout_vh_c {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.layout .td,
.layout_v .td,
.layout_v_c .td,
.layout_h_c .td,
.layout_vh_c .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.layout_v {
  box-orient: vertical;
}
.layout_v_c {
  box-align: center;
}
.layout_h_c {
  box-pack: center;
}
.layout_vh_c {
  box-align: center;
  box-pack: center;
}
.grid {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.grid .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.grid .td + .td {
  width: 100%;
  *width: auto;
}
/*******适配******/
@media (max-width: 768px) {
  .icon {
    background-size: contain;
  }
}
.tabchange {
  border-bottom: 1px solid #ededed;
}
.tabchange ul {
  display: flex;
}
.tabchange li {
  text-align: center;
  font-size: 24px;
  line-height: 88px;
  font-weight: normal;
  font-style: normal;
  flex: 1;
}
.tabchange li.on {
  border-bottom: 2px solid #61a0f2;
  color: #61a0f2;
}
.datechange {
  border-bottom: 1px solid #ededed;
  color: #6f6f6f;
}
.datechange ul {
  display: flex;
}
.datechange li {
  font-size: 22px;
  line-height: 80px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  flex: 2;
}
.datechange li em {
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
}
.datechange li em:after {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  transform: rotate(-135deg);
  content: "";
  border-left: 1px solid #6f6f6f;
  border-top: 1px solid #6f6f6f;
  margin: -9px 0 0 10px;
}
.datechange li:first-child {
  text-align: left;
  flex: 1;
  padding-left: 20px;
}
.datechange li:first-child:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  border-left: 2px solid #bdbdbd;
  border-top: 2px solid #bdbdbd;
  transform: rotate(-45deg);
  content: "";
  margin-right: 3px;
}
.datechange li:last-child {
  text-align: right;
  padding-right: 20px;
  flex: 1;
}
.datechange li:last-child:after {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  border-left: 2px solid #bdbdbd;
  border-top: 2px solid #bdbdbd;
  transform: rotate(135deg);
  content: "";
  margin-left: 3px;
}
body {
  background-color: #eef1f5;
}
.indexuser {
  background: url("../images/indexbg2.jpg") no-repeat center bottom;
  background-size: 100% auto;
  height: 305px;
  position: relative;
  text-align: center;
}
.indexuser .datebox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  color: #fff;
  border-radius: 20px 20px 20px 20px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #fff;
  line-height: 40px;
  padding: 0 25px;
}
.indexuser .totalbox {
  background-color: #fff;
  border-radius: 6px 6px 6px 6px;
  height: 250px;
  margin: 51px 40px auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  position: relative;
}
.indexuser .userimg span {
  background-color: #fff;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  width: 108px;
  height: 108px;
  border-radius: 50% 50% 50% 50%;
  border: 1px solid #60a0f2;
  box-shadow: 0 0 10px #fff;
  margin-top: -45px;
}
.indexuser .userimg span i {
  background: url("../images/icon/ico-index-user.png") no-repeat center center;
  width: 68px;
  height: 86px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: contain;
  margin-top: 11px;
}
.indexuser .userimg span em {
  background-color: #60a0f2;
  width: 100px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: -20px;
  border-radius: 15px;
  margin-left: -50px;
}
.indexuser .userimg h3 {
  font-size: 48px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #60a0f2;
  padding-top: 30px;
}
.indexuser .totallist {
  display: flex;
  padding-top: 15px;
}
.indexuser .totallist .td {
  flex: 1;
}
.indexuser .totallist span,
.indexuser .totallist b {
  color: #929292;
  display: block;
}
.indexuser .totallist b {
  color: #60a0f2;
  font-size: 32px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  padding: 10px;
}
.indexchart {
  background-color: #fff;
  margin-top: 50px;
}
.indexcitylist dl {
  padding-top: 35px;
}
.indexcitylist .td {
  flex: 1;
  width: 25%;
}
.indexcitylist dd {
  text-align: center;
}
.indexcitylist dd i {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  width: 100px;
  height: 100px;
  border-radius: 50% 50% 50% 50%;
  background: no-repeat center;
  background-size: contain;
}
.indexcitylist dd p {
  padding-top: 20px;
}
