.c-white {
  color: #fff;
}
.c-black {
  color: #000;
}
.c-blue {
  color: #60a0f2;
}
.c-chartred {
  color: #ff5a36;
}
.c-chartblue {
  color: #4e5e73;
}
.c-90 {
  color: #909090;
}
.c-92 {
  color: #929292;
}
.c-70 {
  color: #707070;
}
.dialogbg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.inline-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
.show,
.block {
  display: block;
}
.hide,
.none {
  display: none;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.normal {
  font-style: none;
  font-weight: normal;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
.word-wrap {
  hyphens: auto;
  word-wrap: break-word;
}
.fix {
  display: block;
  zoom: 1;
}
.fix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.layout,
.layout_v,
.layout_v_c,
.layout_h_c,
.layout_vh_c {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.layout .td,
.layout_v .td,
.layout_v_c .td,
.layout_h_c .td,
.layout_vh_c .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.layout_v {
  box-orient: vertical;
}
.layout_v_c {
  box-align: center;
}
.layout_h_c {
  box-pack: center;
}
.layout_vh_c {
  box-align: center;
  box-pack: center;
}
.grid {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.grid .td {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.grid .td + .td {
  width: 100%;
  *width: auto;
}
/*******适配******/
@media (max-width: 768px) {
  .icon {
    background-size: contain;
  }
}
.loginbg {
  background: url("../images/indexbg.jpg") center center no-repeat transparent;
  width: 100%;
  height: 390px;
}
.loginbox {
  padding: 90px 75px;
}
.loginbox dd {
  border-bottom: 1px solid #dadada;
  border-left: 1px solid #f5f5f5;
  line-height: 74px;
  margin-bottom: 55px;
  position: relative;
}
.loginbox dd input {
  display: block;
  border: none;
  padding: 0 0 0 75px;
  line-height: 75px;
  font-size: 25px;
  min-width: 500px;
}
.loginbox dd.account:before {
  background: url("../images/icon/ico-login-user.png") no-repeat center center;
  width: 41px;
  height: 75px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  position: absolute;
  left: 5px;
  top: 0;
  content: "";
}
.loginbox dd.password:before {
  background: url("../images/icon/ico-login-pw.png") no-repeat center center;
  width: 40px;
  height: 75px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  position: absolute;
  left: 5px;
  top: 0;
  content: "";
}
.loginbox dt {
  line-height: 43px;
  color: #707070;
}
.loginbox dt a {
  color: #60a0f2;
}
.loginbox dt .autologin i {
  border: 1px solid #60a0f2;
  width: 41px;
  height: 41px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  border-radius: 50% 50% 50% 50%;
  margin-right: 6px;
}
.loginbox dt .autologin i.on {
  background: url("../images/icon/ico-login-auto.png") no-repeat center center;
  width: 41px;
  height: 41px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.loginbox .btnbox {
  padding-top: 75px;
}
.loginbox .btnbox button {
  width: 100%;
  box-shadow: 0 7px 18px rgba(45, 127, 231, 0.7);
}
.copyright {
  color: #909090;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 40px;
}
